body {
    background: #222;
    color: #fff;
    font-family: monospace;
}

a {
    color: #fff;
}

h2 {
    display: none;
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
}

.loaded h2 {
    display: block;
}

#inputform,
#uploadstatus,
#description,
#most-similar,
#ranking {
    width: 50%;
    margin: 1rem auto 2rem;
    text-align: center;
}

#inputform>div {
    height: 2rem;
}

#files {
    display: none;
}

label[for=files] {
    border: 1px solid #fff;
    cursor: pointer;
    padding: .5rem 1rem;
}

#upload-status {
    clear: both;
}

#most-similar {
    font-size: 1.1rem;
    clear: both;
    min-height: 2.2rem;
}

#most-similar label,
#most-similar span {
    width: 40%;
    display: block;
    float: left;
}

#ranking table {
    border-collapse: collapse;
    margin: 0 auto;
}

#ranking table thead {
    border-bottom: 1px solid #fff;
}

#ranking table th,
#ranking table td {
    padding: 0.25rem;
    border-left: 1px solid #fff;
    min-width: 10rem;
    text-align: left;
}

#ranking table th:first-child,
#ranking table td:first-child {
    border: none;
}

#allresults-h2 {
    cursor: pointer;
}

#allresults-h2::after {
    content: '+';
    position: relative;
    left: 1rem;
}

#allresults {
    font-family: monospace;
    font-size: .8rem;
}

#allresults table {
    margin: 1rem auto;
    display: none;
}

#allresults table th,
#allresults table td {
    text-align: left;
    padding-right: .5rem;
}

#allresults-h2.opened::after {
    content: '-';
}

#allresults.opened table {
    display: table;
}
